/* Base styles */
* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3em;
    margin: 0;
    color: #241e1e;
    background-color: #f3f3f3;
  }
  
  h2 {
    color: #fff;
    font-size: 1.35rem;
    margin: 0 0 0.45em;
    text-shadow: 0 1px 0 rgba(0,0,0, 0.35);
  }
  
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.15);
    overflow: hidden;
  }
  
  .container :is(header, main, aside, footer) {
    padding: 1.25em;
    /* background: linear-gradient(to left, #CFDEF3, #E0EAFC);  */
  }
  
  /* Grid styles */
  
  @media (min-width: 768px) {
    .container {
      display: grid;
      gap: 12px;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    
      grid-template-areas: 
        "header header"
        "main-content sidebar"
        "footer footer";
    }
  }
  
  header {
    grid-area: header;
    background-color: #03045e;
  }
  
  main {
    grid-area: main-content;
    background-color: #90e0ef;
  }
  
  aside {
    grid-area: sidebar;
    background-color: #00b4d8;
  }
  
  footer {
    grid-area: footer;
    background-color: #0077b6;
  }