body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.contact-info {
    margin-top: 20px;
}
img {
    width: 200px;
    border-radius: 50%;
}