/* Base styles */
* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color: #1b263b;
    background-color: #e0e1dd;
    padding-bottom: 1.25em;
  }
  
  
  h1 {
    font-size: 1.85rem;
    text-align: center;
    margin-bottom: 1.25em;
  }
  
  h2 {
    color: #fff;
    font-size: 1.35rem;
    margin: 0 0 0.45em;
  }
  
  h3 {
    font-size: 1.45rem;
    margin: 0;
    color: #0d1b2a;
  }
  
  p {
    line-height: 1.5;
    color: #494949;
    margin-bottom: 1.5em;
  }
  
  .card {
    padding: 1.5em;
    background: #F3F4F6;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .card span {
    font-size: 1.85rem;
  }
  
  /* Grid & Flexbox Layout */
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.125em;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
  }
  
  h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }
  
  .btn {
    margin-top: auto;
    font-size: 0.9rem;
    text-align: center;
    background-color: #1b263b;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border-radius: 6px;
  }